#containerDiv {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: auto;
  width: 50%;
  max-width: 800px;
}

#gridSizeDiv {
  width: 50%;
  justify-self: center;
  display: flex;
  justify-content: space-around;
  margin: 12px;
}

#gridSizeButton {
  height: 16px;
}

#gridSizeInput {
  height: 16px;
}
.smallDivs {
  display: flex;
  aspect-ratio: 1/1;
  flex: 1;
  border: 1px solid white;
}

.rows {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex: 1;
}

body {
  background-color: rgb(0, 0, 0);
}
